<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>WeatherApp</display-name>
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>UserServlet</servlet-name>
		<servlet-class>com.vemezhevikin.controller.UserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LocationServlet</servlet-name>
		<servlet-class>com.vemezhevikin.controller.LocationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LocationServlet</servlet-name>
		<url-pattern>/location</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>WeatherServlet</servlet-name>
		<servlet-class>com.vemezhevikin.controller.WeatherServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WeatherServlet</servlet-name>
		<url-pattern>/weather</url-pattern>
	</servlet-mapping>
</web-app>